table{
    background-color: gray;
    border-collapse: collapse;
}
caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{
    text-align: center;
}
.gender{
    text-align: center;
}