body{
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: rgba(68,43,46,255);
    padding: 10px;
}
.navbar > h2{
    color: white;
    display: inline;
}
a{
    color: white;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}
.check{
    background-color:rgba(68,43,46,255) ;
    padding:0 10px;
    margin: 5px;
    border: 3px solid black;
}
.check > p{
    color: white;
}
p{
    padding: 0 20px;
}
.main > h2{
    padding: 0 20px;
}
.card{
    border-style: solid;
    border-color: black;
    margin: 25px;
}
.card > h2{
    color: white;
    background-color:rgba(68,43,46,255) ;
    padding: 10px;
    margin: 0;
}
@media (max-width:768px) and (min-width:575px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        margin: 10px;
    }
}
@media (min-width:769px){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        margin: 5px;
    }
}