.navbar{
    background-color:rgba(68,43,46,255);
    color: white;
    width: 100%;
    padding: 15px;
    border-style: solid;
}
h2{
    display: inline;
}
a{
    color: white;
    float: right;
    padding: 5px;
    text-decoration: none;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.left{
    width: 80%;
    height: 100vh;
    margin: 10px;
}
.left > h2{
    padding: 20px;
}
.main{
    height: 30%;
}
.cards{
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.card{
    border-style: solid;
    border-color: black;
}
.card > h2{
    color: white;
    display: block;
    background-color:rgba(68,43,46,255) ;
    padding: 10px;
    margin: 0;
}
.right{
    background-color:rgba(68,43,46,255);
    color: white;
    width: 20%;
    height: 100%;
    margin: 10px;
    border-style: solid;
    border-color: black;
}
p{
    padding: 20px 20px 0 20px;
}
/* CSS for mobile */
@media (max-width:575px){
    .right{
        position: absolute;
        width: 100%;
        height: 100px;
    }
    .left{
        top: 150px;
    }
    .cards{
        display: block;
    }
}